<%- include("../partials/header") %>
<section>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 d-none d-lg-block">
                <h4 class="text-center">Vinner</h4>
                <div class="list-group">
                    <li class="list-group-item li-title">
                        Aliados
                    </li>
                    <%aliados.forEach(function(aliado){%>
                        <li class="list-group-item">
                            <a class="li-element" href="/equipo/aliados/<%=aliado.show%>"><%=aliado.namesm%></a>
                        </li>
                    <%})%>
                        
                    <a href="/equipo" class="mt-3 btn btn-outline-info">Equipo</a>
                </div>
            </div>
            <div class="col-md-9 text-center">
                <h1>Conoce a los aliados estratégicos</h1>
                <div class="text-center show">
                    <h2><%= aliado.namelg %></h2> 
                    <img class="w-50" src="<%=aliado.img%>" class="card-img-top" alt="...">
                    <h5 class="mt-3"><%= aliado.description %></h5>
                    <% if(aliado.namesm=="Tec de Monterrey" || aliado.namesm=="Central de Cambio"){%>
                        <a class="btn btn-outline-info my-3" href="<%=aliado.pagina%>">Visitar Página</a>
                    <%}%>
                </div>
                <h1>#soyvinner</h1>
            </div>
                  
        </div>
</section>

<%- include("../partials/footer") %>